<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HDR Donor tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.group').prop('disabled', false);
        });
    </script>

</head>
<body>
    <img src="/static/logo.png" alt="Positioned Image" class="positioned-image" style="position: absolute; right: 50px; top: 20px;">
    <h1>Make HDR donor sequence.</h1>
    <h3>1. Enter gene name, NCBI id for transcript, guide sequence with gap, arm sizes and flank size. </h3>
    <form method="POST">
        {{ forms['gene_info_form'].hidden_tag() }}
        <div>
            {{ forms['gene_info_form'].text_field.label }} {{ forms['gene_info_form'].text_field }}
            {{ forms['gene_info_form'].text_field2.label }} {{ forms['gene_info_form'].text_field2 }}
            <h4></h4>
        </div>
        <div>
            <h4>Input full guide sequence with gap for one strand or two guides left and right separated by semicolons</h4>
            {{ forms['gene_info_form'].text_field3.label }} {{ forms['gene_info_form'].text_field3 }}
            <h4></h4>
        </div>
        <div>
            {{ forms['gene_info_form'].text_field4.label }} {{ forms['gene_info_form'].text_field4 }}
            {{ forms['gene_info_form'].text_field5.label }} {{ forms['gene_info_form'].text_field5 }}
            {{ forms['gene_info_form'].text_field6.label }} {{ forms['gene_info_form'].text_field6 }}
            <h4></h4>
        </div>
        <div>
            <input type="submit" value="Submit" name="gene_info_form_submit">
        </div>
    </form>
    <h4>{{ out_dict['gene_dict']  | safe }}</h4>
    <h3>2. Choose elements for insert step by step and strands for them. </h3>
    <form method="POST">
        <select name="dropdown">
            {% set processed_groups = [] %}
            {% for element in out_dict['possible_elements'] %}
                {% if element['group'] not in processed_groups %}
                    <optgroup label="{{ element['group'] }}" class="group">
                        <option style="display:none"></option>
                        {% set _ = processed_groups.append(element['group']) %}
                    </optgroup>
                {% endif %}
                <option value="{{ element['group'] + '_' + element['name'] }}">{{ element['name'] }}</option>
            {% endfor %}
        </select>
        <label for="checkbox">Reverse</label>
        <input type="checkbox" id="checkbox" name="checkbox" value="reverse">
        <input type="submit" value="Submit">
    </form>

    <h4>Or choose your fasta file</h4>
    <form method="post" enctype="multipart/form-data"> 
        <!-- <label for="file">or choose your fasta file</label> -->
        <div>
            <input type="file" name="file" accept=".fa, .txt, .fasta" class="open_file">
            <label for="checkbox2">In frame</label>
            <input type="checkbox" id="checkbox2" name="checkbox2" value="in_frame">
            <label for="checkbox3">Reverse</label>
            <input type="checkbox" id="checkbox3" name="checkbox3" value="reverse">
            <input type="submit" value="Upload" name="file_upload_submit">
        </div>
        <!-- <div>
            <label for="checkbox2">In frame</label>
            <input type="checkbox" id="checkbox2" name="checkbox2" value="in_frame">
            <label for="checkbox3">Reverse</label>
            <input type="checkbox" id="checkbox3" name="checkbox3" value="reverse">
        </div> -->
    </form>
    <h4>Selected elements: {{ out_dict['selected_elements_colors'] | safe  }}</h4>
    <!-- <form method="POST" action="/button_clicked">
        <button type="submit">Delete element</button>
    </form> -->
    <form method="POST">
        <input type="submit" value="Delete element" name="del_element_submit">
    </form>
    <h3>3. Sequence: </h3>
    <form method="POST">
        <input type="submit" value="Make donor sequence" name="make_seq_submit">
    </form>
    <h4 class="wrap-text">{{ out_dict['full_seq_color'] | safe }}</h4>
    <h4 class="wrap-text">{{ out_dict['nn_error'] | safe }}</h4>
    <h3>4. Elements </h3>
    <form method="POST">
        <input type="submit" value="Make image" name="make_image_submit">
    </form>
    <img src="{{ url_for('static', filename=out_dict['image_name']) }}" alt="Dynamic Image">
    <!-- <h2>Upload a CSV File</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file" accept=".csv">
        <input type="submit" value="Upload">
    </form> -->
    <h3>5. Save files for SnapGene </h3>
    <form method="POST">
        <div>
        <!-- <input type="text" id="inputField" name="save_files_input" value="" style="width: 300px;"> -->
        {{ forms['save_files_form'].text_field7 }}
        </div>
        <div>
        <input type="submit" value="Save files" name="save_files_submit">
        </div>
    </form>
    <h3>6. Clear forms </h3>
    <form method="POST">
        <div>
        <input type="submit" value="Clear forms" name="clear_forms_submit">
        </div>
    </form>
    <h3>7. Make complimentary oligonuleotides for CTS. </h3>
    <form method="POST">
        <!-- {{ forms['cts_info_form'].hidden_tag() }} -->
        <div>
            {{ forms['cts_info_form'].text_field8.label }} {{ forms['cts_info_form'].text_field8 }}
            {{ forms['cts_info_form'].text_field9.label }} {{ forms['cts_info_form'].text_field9 }}
            {{ forms['cts_info_form'].text_field10.label }} {{ forms['cts_info_form'].text_field10 }}
            <label for="checkbox4"> Add terminal oligos</label>
            <input type="checkbox" id="checkbox4" name="checkbox4" value="is_terminal_oligos">
            <h4></h4>
        </div>
        <div>
            <input type="submit" value="Submit" name="cts_info_form_submit">
        </div>
    </form>
  
</body>
</html>