/* Set the maximum width of the page content */
.page-content {
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto; /* Center the content horizontally */
}

/* Enable word-wrap for long words */
.wrap-text {
    word-wrap: break-word;
}

/* Enable text wrapping within the container */
.container {
    white-space: pre-line;
}

body {
    background-color: #d8edf0; /* Set your desired background color here */
}

/* CSS classes for different text colors */
.violet-text {
    color: rgb(91, 57, 107);
    font-size: 14px;
}

.blue-text {
    color: blue;
    font-size: 14px;
    /* background-color:rgb(249, 248, 248) */
}

.black-text {
    color: rgb(5, 5, 5);
    font-size: 14px;
}